@model Flower
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2>Create Flower</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="alert alert-danger" asp-validation-summary="ModelOnly" ></div>
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label">Name</label>
            <input asp-for="@Model.Name" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label">Description</label>
            <input asp-for="@Model.Description" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Description"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Price" class="form-label">Price</label>
            <input asp-for="@Model.Price" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Price"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.SkuCode" class="form-label">SkuCode</label>
            <input asp-for="@Model.SkuCode" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.SkuCode"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Dimension" class="form-label">Dimension</label>
            <input asp-for="@Model.Dimension" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Dimension"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.CampaignId" class="form-label">Campaigns</label>
            <select asp-for="@Model.CampaignId" asp-items="@(new SelectList(ViewBag.Campaigns,"Id","Discount"))" class="form-control">
                <option value="0">Please select</option>
            </select>
            <span class="text-danger" asp-validation-for="@Model.CampaignId"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.CategoryIds" class="form-label">Categories</label>
            <select asp-for="@Model.CategoryIds" asp-items="@(new SelectList( ViewBag.Categories,"Id","Name"))" class="form-control">
                <option disabled>Please Select</option>
            </select>
            <span class="text-danger" asp-validation-for="@Model.CampaignId"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.FormFiles" class="form-label">Image</label>
            <input asp-for="@Model.FormFiles" class="form-control" accept="image/*" />
            <span class="text-danger" asp-validation-for="@Model.FormFiles"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

